[submodule "web"]
	path = web
	url = https://github.com/f3d-shop-microservices/web-application
[submodule "services/product"]
	path = services/product
	url = https://github.com/f3d-shop-microservices/product-service
[submodule "services/gateway"]
	path = services/gateway
	url = git@github.com:f3d-shop-microservices/gateway-service.git
